* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial';
    font-size: 1.2rem;
}

header {
    background-color: #88c0cd;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

header li a:hover {
    color: #007BFF;
    /* Cambia el color al pasar el mouse */
}

.logo {
    text-align: center;
    justify-content: center;
    padding: .5rem;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.menus {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menus a {
    text-decoration: none;
    color: black;
    padding: 0 .5rem;
    align-items: center;
}

.menus ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.menus li {
    list-style: none;
    text-align: center;
}

footer li a:hover {
    color: #007BFF;
}

.contfoot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #333333;
}

.enlaces a {
    text-decoration: none;
    color: #fff;
}

.enlaces ul {
    list-style: none;
}

.enlaces p {
    font-size: 1rem;
    color: #fff;
    font-weight: 800;
}

.redes p {
    font-size: 1rem;
    color: #fff;
    font-weight: 800;
}

.coppy {
    padding: 1rem;
    color: #cccccc;
    text-align: center;
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
}

@media (min-width: 1080px) {
    .conthead {
        background-color: #88c0cd;
        width: 100%;
        position: fixed;
        display: flex;
        z-index: 100;
        height: 6rem;
        justify-content: space-between;
        align-items: center;
    }

    .logo img {
        width: 80px;
        height: 80px;
        border-radius: 20px;
    }

    .menus {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        height: 100%;

    }

    .menus a {
        text-decoration: none;
        color: black;
        padding: 0 2rem 0 2rem;
    }

    .menus ul {
        display: flex;
    }

    .menus li {
        list-style: none;
    }

    .contfoot {
        padding-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: center;
        background-color: #333333;
    }

    .enlaces a {
        text-decoration: none;
        color: #fff;
    }

    .enlaces ul {
        list-style: none;
    }

    .enlaces p {
        font-size: 1rem;
        color: #fff;
        font-weight: 800;
    }

    .redes p {
        font-size: 1rem;
        color: #fff;
        font-weight: 800;
    }

    .coppy {
        grid-row-start: 1;
        grid-column-start: 1;
        color: #cccccc;
        text-align: center;
        grid-column: span 1 / span 1;
    }
}