.textos {
    padding: 1.5rem;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    justify-content: center;
    top: 37%;
    text-align: center;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.cartas a {
    text-decoration: none;
    background-color: #226597;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 13px;
    text-align: center;
    margin: 5px auto 15px auto;
    align-content: center;
}

.cartas a:hover {
    color: #007BFF;
}

.imagen-centro {
    margin-top: 8rem;
    filter: brightness(0.5);
    width: 100%;
    height: 50vh;
    background: url('Asets/Index-imagen.jpg') no-repeat center center/cover;
}

@media (min-width: 600px) {
    .textos {
        padding: 10px;
        color: white;
        font-size: 1.2rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 70%;
        text-align: center;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    .imagen-centro {
        position: relative;
        width: 100%;
        height: 100vh;
        padding-top: 12rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(0.7);
        background: url('Asets/Index-imagen.jpg') no-repeat center center/cover;
        padding-top: 0;
    }
}


@media (min-width: 1080px) {
    .textos {
        padding: 10px;
        color: white;
        font-size: 1.5rem;
        position: absolute;
        justify-content: center;
        top: 50%;
        text-align: center;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    .imagen-centro {
        filter: brightness(0.7);
        position: relative;
        width: 100%;
        padding-top: 0;
        justify-content: center;
        margin-top: 6rem;
        align-items: center;
        text-align: center;
        background: url('Asets/Index-imagen.jpg') no-repeat center center/cover;
    }
}

.Tex-Serv {
    color: #113f67;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cartas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.cartas img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.cartas p {
    font-size: 1rem;
    color: #000;
    padding: 10px 20px;
    margin-bottom: 10px;
    text-align: justify;
}

.cartas h2 {
    font-size: 1.4rem;
    color: #226597;
    padding: 10px 20px;
    text-align: center;
}

.carta1 {
    background: #87c0cd;
    border-radius: 10px;
    width: 300px;
    height: 440px;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.carta1:hover {
    transform: translateY(-10px);
}

.carta2 {
    background: #87c0cd;
    border-radius: 10px;
    width: 300px;
    height: 440px;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.carta2:hover {
    transform: translateY(-10px);
}

.carta3 {
    background: #87c0cd;
    border-radius: 10px;
    width: 300px;
    height: 440px;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.carta3 p {
    font-size: 1rem;
    color: #000;
    padding: 22px 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.carta3:hover {
    transform: translateY(-10px);
}

.carta4 {
    background: #87c0cd;
    border-radius: 10px;
    width: 300px;
    height: 440px;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.carta4 p {
    font-size: 1rem;
    color: #000;
    padding: 22px 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.carta4:hover {
    transform: translateY(-10px);
}

.carta5 {
    background: #87c0cd;
    border-radius: 10px;
    width: 300px;
    height: 440px;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.carta5 p {
    font-size: 1rem;
    color: #000;
    padding: 22px 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.carta5:hover {
    transform: translateY(-10px);
    /* Efecto de levantar la carta */
}