.centro {
    padding-top: 6rem;
    width: 100%;
}

.centro img {
    filter: brightness(0.7);
    position: relative;
    width: 100%;
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: url('Asets/Testimonios.jpg') no-repeat center center/cover;
    border-bottom: none;
}
.textos {
    padding: 10px;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 30%;
    text-align: center;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}